<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeybAI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KeybAI.Properties.Settings>
            <setting name="bestCharsPerMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bestWordsPerMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bestMisPerLine" serializeAs="String">
                <value>999999</value>
            </setting>
            <setting name="totalChars" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalWords" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalMis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalLines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="autoBcsp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kBoardLang" serializeAs="String">
                <value>Rus</value>
            </setting>
        </KeybAI.Properties.Settings>
    </userSettings>
</configuration>